---
const { activeItem } = Astro.props
---

<header>
  <div class="logo">
    Best Website
  </div>

  <nav>
    <menu>
      <li>
        <a href="/" class={activeItem === 'home' ? 'active' : ''}>Home</a>
      </li>
      <li>
        <a href="/todos" class={activeItem === 'todos' ? 'active' : ''}>To Dos</a>
      </li>
      <li>
        <a href="/users" class={activeItem === 'users' ? 'active' : ''}>Users</a>
      </li>
      <li>
        <a href="/about" class={activeItem === 'about' ? 'active' : ''}>About Us</a>
      </li>
      <li>
        <a href="/blog" class={activeItem === 'blog' ? 'active' : ''}>Blog</a>
      </li>
      <li>
        <a href="/contact" class={activeItem === 'contact' ? 'active' : ''}>Contact Us</a>
      </li>
    </menu>
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding: 1rem 0;
    background-color: #eee;
  }

  menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  a {
    color: black;
  }
  
  .active {
    color: red;
  }
</style>